@model MrE.Models.Entities.Video
@Html.AntiForgeryToken()

<div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Data)
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.GenreID, "Genre", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(m => m.GenreID, (ViewBag.GenreSelectList as SelectList), "Select Option", htmlAttributes: new { @class = "form-control", @required = true })
            @Html.ValidationMessageFor(model => model.GenreID, "", new { @class = "text-danger" })

        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.RentalPrice, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RentalPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RentalPrice, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.AgeRestriction, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.AgeRestriction, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AgeRestriction, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, htmlAttributes : new { @class = "form-control", @col=5, @row=5 })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary">
        <i class="fa fa-save"></i>&nbsp;Save
    </button>
    <a href="@Url.Action("index")" class="btn btn-outline-secondary">
        <i class="fa fa-times-circle"></i>&nbsp;Cancel
    </a>
    @if (Model != null && Model.Id > 0)
    {
        <a href="@Url.Action("UploadData", new { id = Model.Id})" class="btn btn-outline-secondary">
            <i class="fa fa-upload"></i>&nbsp;Upload Image
        </a>
        <a href="@Url.Action("Create","Cast", new { VideoID = Model.Id })" class="btn btn-outline-info">
            <i class="fa fa-user-plus"></i>&nbsp;Add Cast
        </a>

    }
</div>