@model MrE.Models.Entities.Video

@{
    ViewBag.Title = "Details";
}
<div class="card">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a class="nav-link active" href="#movie-info" aria-controls="movie" role="tab" data-toggle="tab">Movie Info</a>
                </li>
                <li role="presentation">
                    <a class="nav-link active" href="#cast-list" aria-controls="profile" role="tab" data-toggle="tab">Cast</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="movie-info">
                    @Html.Partial("_Details")
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-outline-primary">
                        <i class="fa fa-save"></i>&nbsp;Edit
                    </a>
                    <a href="@Url.Action("index")" class="btn btn-outline-secondary">
                        <i class="fa fa-chevron-circle-left"></i>&nbsp;Back
                    </a>
                </div>
                <div role="tabpanel" class="tab-pane fade show" id="cast-list">
                    @Html.Action("IndexPartial", "Cast", new { videoId = Model.Id })
                </div>
            </div>
        </div>

    </div>
</div>