@model MrE.Models.Entities.Video

@{
    ViewBag.Title = "Edit Video";
}


<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.DateCreated)
            @Html.HiddenFor(m => m.DateUpdated)
            @Html.HiddenFor(m => m.IsDeleted)
            @Html.HiddenFor(m => m.DateDeleted)

            @Html.Partial("_Form")
        }
    </div>
</div>
