@using MrEOnline.Models;
@model MrE.Models.Entities.Video

@{
    ViewBag.Title = "Edit Video";
}
@if (ViewData["ViewMessage"] != null)
{
    @Html.Partial("_Feedback", (ViewData["ViewMessage"] as ViewMessage))
}
<div class="card">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        @if (Model.Data == null)
        {

        }
        else
        {
            <div class="row">
                <img src="data:image/png;base64,@System.Convert.ToBase64String(Model.Data)" height="auto" max-width="100%" class="center" />
            </div>
        }
        <br />
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item ">
                    <a class="nav-link active" href="#movie-info" aria-controls="movie" role="tab" data-toggle="tab">Movie Info</a>
                </li>
                <li role="presentation" id="tabCast" class="nav-item">
                    <a class="nav-link" href="#cast-list" aria-controls="profile" role="tab" data-toggle="tab">Cast</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="movie-info">
                    @using (Html.BeginForm("Edit", "Video", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(m => m.DateCreated)
                        @Html.HiddenFor(m => m.DateUpdated)
                        @Html.HiddenFor(m => m.IsDeleted)
                        @Html.HiddenFor(m => m.DateDeleted)

                        @Html.Partial("_Form")

                    }
                </div>
                <div role="tabpanel" class="tab-pane fade show" id="cast-list">
                    @Html.Action("IndexPartial", "Cast", new { videoId = Model.Id })
                </div>
            </div>

        </div>


    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        @*$('#tabCast').on('click', function (e) {
            debugger;
             var pattern = /#.+/gi //use regex to get anchor(==selector)
            var contentID = e.target.toString().match(pattern)[0]; //get anchor
            console.log(e.target);
            //if (e.target.)
            $(contentID).empty().load('@Url.Action("IndexPartial", "Cast",new { videoId ="' @Model.Id '"})', function (response, status, jxHR) {
                console.log(status);
                console.log(jxHR);
                if (jxHR.statusCode === 200)
                    $('#cast-list').empty().append(response);
                else
                    $('#cast-list').empty().append($('<div>').addClass("alert alert-info").html("No data to display."));
            });

            e.relatedTarget // previous active tab

        })*@
        @*$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var pattern = /#.+/gi //use regex to get anchor(==selector)
            var contentID = e.target.toString().match(pattern)[0]; //get anchor
            console.log(e.target);
            //if (e.target.)
            $(contentID).empty().load('@Url.Action("IndexPartial", "Cast",new { videoId ="' @Model.Id '"})', function (response, status, jxHR) {
                console.log(status);
                console.log(jxHR);
                if (jxHR.statusCode === 200)
                    $('#cast-list').empty().append(response);
                else
                    $('#cast-list').empty().append($('<div>').addClass("alert alert-info").html("No data to display."));
            });

            e.relatedTarget // previous active tab
        })*@
    </script>
    }