@model IEnumerable<MrE.Models.Entities.Video>

@{
    ViewBag.Title = "Movies";
}
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        <p>
            <a href="@Url.Action("Create")" class="btn btn-success"> <i class="fa fa-shopping-cart"></i>&nbsp;Check Out</a>
            <span style="color:Red" id="Amount"></span>
        </p>

        @foreach (var item in Model) {
            <div class="row" style="margin-bottom: 19px;">
                <div class="col-md-6">
                    @if (item.Data == null) {
                        <i class="fa fa-picture-o fa-5x" aria-hidden="true" style=" font-size: 13em; "></i>
                    } else {
                        <div class="">
                            <img src="data:image/png;base64,@System.Convert.ToBase64String( item.Data)" width="100%" height="auto" style="display:block" class="img-responsive" />
                        </div>
                    }
                    <hr />
                </div>

                <div class="col-md-6">
                    <div>
                        <label class="control-label">Title :</label>
                        @Html.DisplayFor(model => item.Title)
                    </div>
                    <div>
                        <label class="control-label">Genre :</label>
                        @Html.DisplayFor(model => item.Genre.Name)
                    </div>
                    <div>
                        <label class="control-label">Description :</label>
                        @Html.DisplayFor(model => item.Description)

                    </div>
                    <div>
                        <label class="control-label">Age Restriction :</label>
                        @Html.DisplayFor(model => item.AgeRestriction)
                    </div>
                    <div>
                        <label class="control-label">Rental Price :</label>
                        @Html.DisplayFor(model => item.RentalPrice)
                    </div>
                    <div>
                        <a href="@Url.Action("Details", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Details" class="btn btn-info"><i class="fa fa-list-alt fa-2x"></i>&nbsp;Details</a>
                        <a href="" data-toggle="tooltip" data-placement="top" title="Rent" class="btnRent btn btn-success" data-VideoId="@item.Id" data-RentalPrice="@item.RentalPrice">
                            <i class="fa fa-shopping-basket fa-2x"></i>
                            &nbsp;Rent
                        </a>
                        <a class="btnCheck btn btn-default" data-toggle="tooltip" data-placement="top" title="Yes" data-VideoId="@item.Id" data-RentalPrice="@item.RentalPrice" disabled style=" display:none"><i class="fa fa-check fa-2x" style="color: green;"></i></a>
                        <a class="pull-right btnCancel" data-toggle="tooltip" data-placement="top" title="Cancel" data-VideoId="@item.Id" data-RentalPrice="@item.RentalPrice" style="cursor:pointer; display: none"><i class="fa fa-close fa-2x" style="color:red"></i></a>


                    </div>
                </div>

            </div>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var Total = 0;
        $(".btnRent").on('click', function (e) {
            e.preventDefault();
            var currentRow = $(this).attr("data-RentalPrice");
            console.log(currentRow)
            Total = Total + parseInt(currentRow);
            $('#Amount').text('R' + Total + '.00')
            $(this).hide();
            $('.btnCancel').show();
            $('.btnCheck').show();
        });
        var newTotal = 0
        $('.btnCancel').on('click', function (e) {
            e.preventDefault();
            var currentRow = $(this).attr("data-RentalPrice");
            var checkOutAmount = $('#Amount').text();
            console.log(checkOutAmount)
            substitude = checkOutAmount.replace('R', '');
            console.log(substitude)
            newTotal = substitude - parseInt(currentRow);
            console.log(newTotal)
            $('#Amount').text('R' + newTotal + '.00')
            $('.btnRent').show();
            $('.btnCancel').hide();
            $('.btnCheck').hide();
        });

    </script>
}