@model IEnumerable<MrE.Models.Entities.Cast>

<div class="card">
    @*<div class="card-header">@ViewBag.Title</div>*@
    <div class="card-body">

        <p>
            @*@foreach (var item in Model) {*@

            <a href="@Url.Action("CreateFor", new { videoId = ViewContext.RouteData.Values["Edit"] })" class="btn btn-outline-secondary">Create</a>
            @*}*@
        </p>
        <div style="overflow-x:auto;">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Video.Title)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Title.Name)
                        </th>

                        <th scope="col">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.DateUpdated)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.DateDeleted)
                        </th>
                        <th scope="col"></th>
                    </tr>

                </thead>

                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Video.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @if (item.IsDeleted) {
                                @Html.Raw("Yes")
                            } else {
                                @Html.Raw("No")
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateUpdated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDeleted)
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog"></i>&nbsp;Action&nbsp;<span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    @if (item.IsDeleted) {
                                        <a href="@Url.Action("Details", new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-list-alt"></i>&nbsp;Details
                                        </a>
                                        <a href="@Url.Action("Recover",  new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-check"></i>&nbsp;Recover
                                        </a>
                                    } else {
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-edit"></i>&nbsp;Edit
                                        </a>
                                        <a href="@Url.Action("Details", new { id = item.Id })" class="dropdown-item">
                                            <i class="fa fa-list-alt"></i>&nbsp;Details
                                        </a>
                                        <a href="@Url.Action("Delete", new { id = item.Id })" data-toggle="tooltip" data-placement="top" title="Delete" class="dropdown-item">
                                            <i class="fa fa-trash-o"></i>&nbsp;Delete
                                        </a>
                                        <a href="@Url.Action("UploadData", new { id = item.Id})" data-toggle="tooltip" data-placement="top" title="Upload Image" class="dropdown-item">
                                            <i class="fa fa-upload"></i>&nbsp;Upload Image
                                        </a>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>