@using MrEOnline.Models;
@model MrE.Models.Entities.Status

@{
    ViewBag.Title = "Edit Status";
}

@if (ViewData["ViewMessage"] != null)
{
    @Html.Partial("_Feedback", (ViewData["ViewMessage"] as ViewMessage))
}<div class="card">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.DateCreated)
            @Html.HiddenFor(m => m.DateUpdated)
            @Html.HiddenFor(m => m.IsDeleted)

            @Html.Partial("_Form")
        }
    </div>
</div>
