@using MrEOnline.Models;
@model MrE.Models.Entities.Status

@{
    ViewBag.Title = "Edit Status";
}

@Html.Partial("_Feedback", (ViewBag.ViewMessage as ViewMessage))
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.DateCreated)
            @Html.HiddenFor(m => m.DateUpdated)
            @Html.HiddenFor(m => m.IsDeleted)

            @Html.Partial("_Form")
        }
    </div>
</div>
