@model MrE.Models.Entities.Rating
@Html.AntiForgeryToken()
<div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form class="rating-form" action="#" method="post" name="rating-movie">
        <fieldset class="form-group">
            <legend class="form-legend">Rating:</legend>
            <div class="form-item">
                <input id="rating-5" name="rating" type="radio" value="5" />
                <label for="rating-5" data-value="5">
                    <span class="rating-star">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="ir">5</span>
                </label>
                <input id="rating-4" name="rating" type="radio" value="4" />
                <label for="rating-4" data-value="4">
                    <span class="rating-star">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="ir">4</span>
                </label>
                <input id="rating-3" name="rating" type="radio" value="3" />
                <label for="rating-3" data-value="3">
                    <span class="rating-star">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="ir">3</span>
                </label>
                <input id="rating-2" name="rating" type="radio" value="2" />
                <label for="rating-2" data-value="2">
                    <span class="rating-star">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="ir">2</span>
                </label>
                <input id="rating-1" name="rating" type="radio" value="1" />
                <label for="rating-1" data-value="1">
                    <span class="rating-star">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="ir">1</span>
                </label>
                <div class="form-action">
                    <input class="btn-reset" type="reset" value="Reset" />
                </div>
                <div class="form-output">
                    ? / 5
                </div>
            </div>
        </fieldset>
        <div class="form-group col-md-12">
            <label class="control-label">Comment</label>
            <textarea rows="4" cols="4" class="form-control"></textarea>
        </div>
    </form>

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })

    </div>
    <button type="submit" value="Create" class="btn btn-outline-info">
        <i class="fa fa-save"></i>&nbsp;Save
    </button>
    <a href="@Url.Action("Edit","Video",new {id= Model.VideoId, })" class="btn btn-outline-secondary">
        <i class="fa fa-times-circle"></i>&nbsp;Cancel
    </a>
</div>
<link href="~/Content/Rating.css" rel="stylesheet" />