@model IEnumerable<MrE.Models.Entities.Rating>
@{
    Layout = null;

}
<div id="test" style="font-size: 100%;" class="carousel-fade">
    <dl class="dl-horizontal">
        <dt>Reviews</dt>
    </dl>
    <div id="carouselExampleFade" class="carousel " data-ride="carousel">
        <div class="carousel-inner">
            @{
                var counter = 1;
            }
            @foreach (var item in Model) {
                var active = string.Empty;
                if (counter == 1) {
                    active = "active";
                }
                counter++;

                <dl class="carousel-item @active " data-Videoid="@item.VideoId" data-ReviewId="@item.Id">

                    @if (item.Id < 0) {

                    } else {
                        <dt>@item.Title</dt>
                    }
                    <dd class="carousel-caption d-none d-md-block">
                        <div class='rating-stars text-center'>
                            <ul class='stars'>
                                <li data-value='@item.Ratings' hidden>
                                </li>
                                <li class='star @(item.Ratings >= 1 ? "selected" : string.Empty)' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star @(item.Ratings >= 2 ? "selected" : string.Empty)' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star @(item.Ratings >= 3 ? "selected" : string.Empty)' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star @(item.Ratings >= 4 ? "selected" : string.Empty)' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star @(item.Ratings == 5 ? "selected" : string.Empty)' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                            </ul>
                            <div class="form-output" style="margin: 10px 10px">
                                @item.Ratings / 5
                            </div>
                        </div>
                        <p class="ellipsis" data-toggle="popover" data-trigger="hover" data-placement="left" data-container="body" data-content="@item.Comment">@item.Comment</p>
                        <label style="color:#777">@item.User.FullName</label>
                    </dd>
                </dl>
            }

        </div>
        @*<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="fa fa-angle-left fa-2x" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="fa fa-angle-right fa-2x" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>*@

    </div>
</div>
<style>
    .form-output {
        position: absolute;
        right: 15px;
        bottom: 150px;
        font-size: 12px;
        font-size: 1rem;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .rating-stars {
        margin-right: 100px;
    }
    /* Rating Star Widgets Style */
    .rating-stars ul {
        list-style-type: none;
        padding: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

        .rating-stars ul > li.star {
            display: inline-block;
        }

            /* Idle State of the stars */
            .rating-stars ul > li.star > i.fa {
                font-size: 1.5em; /* Change the size of the stars */
                color: #ccc; /* Color on idle state */
            }

            /* Hover state of the stars */
            .rating-stars ul > li.star.hover > i.fa {
                color: #FFCC36;
            }

            /* Selected state of the stars */
            .rating-stars ul > li.star.selected > i.fa {
                color: #FF912C;
            }
</style>