@using MrEOnline.Models;

@model UserViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="card">
    <div class="card-header">@ViewBag.Title</div>
    <div class="card-body">
        @using (Html.BeginForm()) {
        <div>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">
                Save
            </button>
            <a href="@Url.Action("Index", "UserRoles", new {userId = Model.Id})"  class="btn btn-sm btn-success">
                Add Roles
            </a>
            <a href="@Url.Action("index")" class="btn btn-sm btn-secondary" >
                Cancel
            </a>            
        </div>
        }

    </div>
</div>

